<div class="error-page flex flex-column justify-content-center">
  <div class="error-container justify-content-center">
    <div
      style="text-align: center;"
      class="flex flex-column justify-content-center align-items-center gap-2"
    >
      <div class="error-title">404</div>
      <div class="error-subtitle">Page Not Found</div>
      <div class="mt-4">
        <p-button
          label="Go Home"
          severity="secondary"
          (click)="goHome()"></p-button>
      </div>
    </div>
    <div class="error-img">
      <img src="./assets/Error/404-exeption-monitor.svg">
    </div>
  </div>
</div>

